
CONVEX_DEPLOYMENT="" # team: uber-like, project: tutem

CONVEX_URL=""
CONVEX_SITE_URL=""

# Expo requires EXPO_PUBLIC_ prefix to expose vars to the client bundle
EXPO_PUBLIC_CONVEX_URL=""

CLERK_FRONTEND_API_URL=""
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=""
