
# Expo requires EXPO_PUBLIC_ prefix to expose vars to the client bundle
EXPO_PUBLIC_CONVEX_URL=https://superb-canary-402.eu-west-1.convex.cloud

CLERK_FRONTEND_API_URL=""
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=""

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:superb-canary-402 # team: rayeeshello, project: tutem

CONVEX_URL=https://superb-canary-402.eu-west-1.convex.cloud

CONVEX_SITE_URL=https://superb-canary-402.eu-west-1.convex.site

